# fly.toml app configuration file generated for a2z-backend on 2025-09-11T20:09:39Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "shk2t-t3ban"
primary_region = "cdg"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 3_000
min_machines_running = 0
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 1_024
