# fly.toml app configuration file generated for a2z-backend on 2025-09-11T20:09:39Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'a2z-backend'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
